p {
    margin: 10px;
}

form  { 
  display: flex; 
  flex-direction: column;
  align-items:center; 
  border: solid;
  border-radius: 20px;
  border-width: 1px;
}

textarea {
    width: 175px;
    height: 100px;
    resize: none;
}

input[type=text] {
    width: 175px;
}

input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
}